/* HomePage.css */
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 40;
  }
  
  .text-content {
    margin-bottom: 20px;
  }
  
  .image-content {
    background-image: url('../../this.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
  }
  
  .home-page button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .home-page button:hover {
    background-color: #388E3C;
    text-align: center;
  }
  
  .home-page h1 {
    color: #436687ff;
    font-size: 2.5em;
    text-align: center;
  }
  
  