html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

.container {
  width: 90%;
  margin: auto;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .container {
      width: 100%;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
